name: Automated tests #название

on: # когда / в какой ситуации запускать
#  push # когда сделали push
  workflow_dispatch:
    inputs: # для ручного запуска тестов
      deployment_target: # для настройки команды запуска тестов
        description: Choose target
        required: true # чтобы не было возможности запуска без конкретной команды
        default: login
        type: choice
        options:
          - login
          - run tests

# Для публикации отчётов на GitHub
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  tests: # название jobы 'tests'
    runs-on: windows-latest # в виртуальную машину установить указанную ОС последней версии

    steps: # шаги для запуска тестов
      - name: Checkout repository
        # 'uses' когда хотим задействовать action написанный за нас / уже существует
        uses: actions/checkout@v4
      - name: setup Python # устанавливаем Python
        uses: actions/setup-python@v5
        with: # дополнительная настройка 'with'
          python-version: "3.11" # указываем нужную версию python
      # - name: Install Chrome
        # 'run' когда сами указываем команду которую необходимо выполнить
        # run: sudo apt-get install google-chrome-stable # установить последнюю стабильную версию google-chrome
      - name: Install Latest Chrome
        shell: pwsh
        run: |
          # Скачиваем установщик
          $installer = "$env:TEMP\chrome_installer.exe"
          Invoke-WebRequest -Uri "https://dl.google.com/chrome/install/latest/chrome_installer.exe" -OutFile $installer
          
          # Устанавливаем
          & $installer /silent /install
          
          # Ждём установки
          Start-Sleep -Seconds 10
          
          # Проверяем
          $chromePath = "C:\Program Files\Google\Chrome\Application\chrome.exe"
          if (Test-Path $chromePath) {
            & $chromePath --version
          }

      - name: install dependencies # устанавливаем зависимости
        run: pip install -r requirements.txt

      - name: run tests
        if: "github.event.inputs.deployment_target == 'run tests'"
        # запускать только когда выбрано 'options:- run tests'
        run: pytest --alluredir=allure-results
      - name: login
        if: "github.event.inputs.deployment_target == 'login'"
        run: pytest -m login --alluredir=allure-results
      - name: Store allure results # Сохраняем отчёт для дальнейшего скачивания
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path:
            allure-results
          retention-days: 1 # срок жизни 1 день


  generate-report:
    runs-on: windows-latest
    needs: tests # для выполнения jobы generate-report необходимы результаты jobы tests
    name: Generate Allure Reports
    steps:
      - name: Setup Java for Allure
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      # Скачиваем ранее сохранёный отчёт на вторую машину
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: ./allure-results

      # Установка Allure
      - name: Install Allure
        run: choco install allure -y
        shell: powershell

      # Генерация отчета из результатов тестов
      - name: Generate Allure Report
        run: allure generate allure-results --clean -o _site

      # Сохранение для дальнейшего использования
      - name: Store generated report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path:
            _site
          retention-days: 1

  publish-reports:
    runs-on: windows-latest
    needs:  generate-report
    name: Publish to GitHub Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Download generated report
        uses: actions/download-artifact@v4
        with:
          name: allure-report
          path: ./_site

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./_site

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Show deployment URL
        shell: pwsh
        run:
          Write-Host "Allure report is available at: ${{ steps.deployment.outputs.page_url }}"