name: Automated tests #название

on: # когда / в какой ситуации запускать
#  push # когда сделали push
  workflow_dispatch:
    inputs: # для ручного запуска тестов
      deployment_target: # для настройки команды запуска тестов
        description: Choose target
        required: true # чтобы не было возможности запуска без конкретной команды
        default: no_authorization
        type: choice
        options:
          - no_authorization
          - login
          - run tests


jobs:
  tests: # название jobы 'tests'
    runs-on: windows-latest # в виртуальную машину установить указанную ОС последней версии

    steps: # шаги для запуска тестов
      - name: Checkout repository
        # 'uses' когда хотим задействовать action написанный за нас / уже существует
        uses: actions/checkout@v4
      - name: setup Python # устанавливаем Python
        uses: actions/setup-python@v5
        with: # дополнительная настройка 'with'
          python-version: "3.11" # указываем нужную версию python
      # - name: Install Chrome
        # 'run' когда сами указываем команду которую необходимо выполнить
        # run: sudo apt-get install google-chrome-stable # установить последнюю стабильную версию google-chrome
      - name: Install Latest Chrome
        shell: pwsh
        run: |
          # Скачиваем установщик
          $installer = "$env:TEMP\chrome_installer.exe"
          Invoke-WebRequest -Uri "https://dl.google.com/chrome/install/latest/chrome_installer.exe" -OutFile $installer
          
          # Устанавливаем
          & $installer /silent /install
          
          # Ждём установки
          Start-Sleep -Seconds 10
          
          # Проверяем
          $chromePath = "C:\Program Files\Google\Chrome\Application\chrome.exe"
          if (Test-Path $chromePath) {
            & $chromePath --version
          }

      - name: install dependencies # устанавливаем зависимости
        run: pip install -r requirements.txt

      - name: no_authorization
        if: "github.event.inputs.deployment_target == 'no_authorization'"
        # запускать только когда выбрано 'options:- no_authorization'
        run: pytest -m no_authorization
      - name: run tests
        if: "github.event.inputs.deployment_target == 'run tests'"
        # запускать только когда выбрано 'options:- run tests'
        run: pytest
      - name: login
        if: "github.event.inputs.deployment_target == 'login'"
        run: pytest -m login